actionUserLookupType="email-address"
actionUserLookupValue="peter.richards@liferay.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"20096"
config-workflow-node-identifier-id="commerce-example"
createdEntityIdentifierWorkflowContextKey="newCommerceCatalogId"
enable=B"true"
entityCreationAttributes=[ \
  "\{\"entityAttributeName\":\"name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"companyName\",\"defaultValue\":\"\"\}", \
  "\{\"entityAttributeName\":\"external-reference-code\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"companyName\",\"defaultValue\":\"\"\}", \
  "\{\"entityAttributeName\":\"commerce-currency-code\",\"useWorkflowContextKey\":false,\"workflowContextKey\":\"catalogCurrency\",\"defaultValue\":\"USD\"\}", \
  "\{\"entityAttributeName\":\"catalog-default-language-identifier\",\"useWorkflowContextKey\":false,\"workflowContextKey\":\"catalogLanguage\",\"defaultValue\":\"en_US\"\}", \
  "\{\"entityAttributeName\":\"system-catalog\",\"useWorkflowContextKey\":false,\"workflowContextKey\":\"systemCatalog\",\"defaultValue\":false\}", \
  "\{\"entityAttributeName\":\"account-entry-identifier\",\"useWorkflowContextKey\":false,\"workflowContextKey\":\"newAccountEntryId\",\"defaultValue\":0\}", \
  ]
exceptionWorkflowStatus="incomplete"
returnExistingEntityIdentifierIfFound=B"true"
successWorkflowStatus="approved"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUserForAction=B"false"
useWorkflowContextKeyForActionUserLookupValue=B"false"
