actionUserLookupType="email-address"
actionUserLookupValue="peter.richards@liferay.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"20096"
config-workflow-node-identifier-id="commerce-example"
enable=B"true"
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUser=B"true"
useWorkflowContextKeyForActionUserLookupValue=B"false"
useWorkflowContextKeyForUserLookupValue=B"true"
userLookupType="email-address"
userLookupValue=""
userLookupValueWorkflowContextKey="emailAddress"
