companyId=L"20096"
config-workflow-node-identifier-id="commerce-example"
ddmFieldReferenceArray=[ \
  "companyName", \
  ]
enable=B"true"
exceptionWorkflowStatus="incomplete"
includeWorkflowInformation=B"false"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
